@model CarServise.Models.Search.SearchResultModel

<div class="container">
    <span>Результат поиска: @Model.SearchQuery</span>

    <form asp-controller="Search" asp-action="Search" method="post">
        <div class="searchForm">
            <input asp-for="SearchQuery" type="text" placeholder="Поиск..." class="searchBar">
            <button type="submit" class="btn btnSearch">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </div>
    </form>

    @if (!Model.EmptySearchResult)
    {
        <table class="table table-hover table-bordered">
            <tbody>
                @foreach (var forum in Model.Forums)
                {
                    <tr>
                        <td>
                            <div class="col-lg-4" style="background-image:url(@forum.ImgUrl)"></div>
                            <div class="postData">
                                <div class="postTitle">
                                    <a asp-controller="Forum" asp-action="Detail" asp-route-id="@forum.Id">@forum.Name</a>
                                </div>
                                <div class="forumSubTitle">
                                    <div class="value">
                                        Стоимость : @forum.Value
                                    </div>                           
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h3>
            Результат поиска для @Model.SearchQuery не найден <br />
        </h3>
    }


</div>