@model CarServise.Models.ForumViewModels.ForumIndexModel

<h3>Forums</h3>
<table class="table table-hover">
    @foreach (var forum in Model.ForumList)
    {
        <tr>
            <td>
                <div style="background-image: url(@forum.ImgUrl)">@forum.Id</div>
                <div>Имя: @forum.Name</div>
                <div>Цена за работу: @forum.Value</div>
                <a asp-controller="Forum" asp-action="Detail" asp-route-id="@forum.Id" class="btn btn-primary btn-sm">
                        Расчитать
                </a>
               
            </td>
        </tr>
    }

</table>