@model CarServise.Models.ForumViewModels.ForumSearchQuery

<div class="container">

    <div class="col-md-3" id="categories">
        @await Component.InvokeAsync("NavigationMenu")
    </div>
    <div class="col-lg-3"><h4>Index Forum</h4></div>
    <div class="col-lg-4">
        <form asp-controller="Search" asp-action="Search" method="post">
            <div class="searchForm">
                <input asp-for="SearchQuery" type="text" placeholder="Поиск..." class="searchBar">
                <button type="submit" class="btn btnSearch">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </div>
        </form>
    </div>
    <div class="col-lg-2"><a asp-controller="Forum" asp-action="Create">Создать</a></div>
        @foreach (var forum in Model.Forum)
        {

            <div class="col-md-4">
                <div class="bodyStyle" style="background-image: url(@forum.ImgUrl)"></div>
                <div>Имя: @forum.Name</div>
                <div>Цена за работу: @forum.Value</div>
                <a asp-controller="Forum" asp-action="Detail" asp-route-id="@forum.Id" class="btn btn-primary btn-sm">
                    Расчитать
                </a>
            </div>           
        }
</div>
<div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true"
    page-class="btn" page-class-normal="btn-secondary"
    page-class-selected="btn-primary" class="btn-group pull-right m-1">
</div>